<template>
      <div class="mx-auto h-24 w-24 ">
        <div  @click="rollDice" class="h-24 w-24 border-2 border-solid text-7xl flex justify-center mb-1">
            <p class="my-auto">{{result === 0 ? '': result}}</p>
        </div>
          <button class=" mb-4 ml-4" @click="rollDice"  > Roll Dice</button>
      </div>
</template>

<script>
export default {
    name: 'Dice',
    data(){
    return{
    //  boardItems: Positions, 
      result : 0,
      
      
    }
 

  },
  computed:{
      
  },

  methods:{
  

    async rollDice () {
      this.$emit('rolling')
     this.getGetSide()
     this.$nextTick(function(){
      this.$emit('face', this.result);
     }
     )
  },

    getGetSide(){
        const sides = 6;

        this.result = Math.floor(Math.random() * sides) + 1;
      
    }
    

  },
}
</script>