<template>
  <div class="modal h-screen w-full fixed left-0 top-0 flex justify-center items-center bg-black bg-opacity-50" :class="{'hidden': !show }">
    <!-- modal -->
    <div class="bg-white rounded shadow-lg w-10/12 md:w-1/3">
      <!-- modal header -->
      <div class="border-b px-4 py-2 flex justify-between items-center">
        <h3 class="font-semibold text-lg">Rules</h3>
        <button class="text-black close-modal">&cross;</button>
      </div>
      <!-- modal body -->
      <div class="p-6 mx-5">
      <h5 class="text-lg font-semibold">Main Rules</h5>
      <ol class="list-decimal">
          <li>
            User can roll a dice from 1 to 6
          </li>
          <li>
           Can get out of home only width a 5
          </li>
          <!-- <ol>
           Can get out of home only width a 6 palyer can roll it again
          </ol>
          <ol>
           Can get out of home only width a 6 palyer can roll it again
          </ol> -->
          
      </ol>
      </div>
      <div class="flex justify-end items-center w-100 border-t p-3">
        
        <button @click="$emit('close')" class="bg-blue-600 hover:bg-blue-700 px-3 py-1 rounded text-white">Okey</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
    name: 'Modal',
    props:{
      show:{
        type: Boolean
      }
    },
    data: function(){
      return {

      }
    },

    computed:{

       

    }
}
</script>