<template>
    <div >
        
  <div class="mx-auto w-1/2 block">
        <div class="py-4 my-5">
            <h1 class="text-lg font-semibold">Tablero de parchis</h1>
        </div>

      <table class="table-fixed w-full" >
      
        <Tr v-for="( tr, index ) in  boardTr" :player1="player1"  :key="index" :positions="boardItems" :data="tr" @clicked="clicked"/>

        
      </table>
  </div>
        <div class=" mx-auto block  ">
            <Dice @face="updatePlayer"  />
        </div>
    </div>
</template>
<script>
import tableTr from '@/store/paths'
import Positions from '@/store/positions'
import { YellowPath} from '@/store/paths'

export default {
    name: "Tablero",
    props:{
        // boardItems:{ 
        // type: Array,
        // },
    // dice: {
    //     type: Number,
        
    // },
   
    
    },
    data:function(){
        return{
        
        boardItems: Positions,
        boardTr: tableTr,
        yellowHome: 0,
        blueHome: 0,
        currentPlayer: null,
        player1:{
            color: 'yellowHome',
            homePieaces: [1,2,3,4],
            path: YellowPath,
            currentPositions: [],
            nextPositions: [],
             canMove:false,
            }
        }
    },
  watch:{
      
  },

    methods:{
      

    pieceAtHome(position){
       const item =  ['yellowHome', 'blueHome', 'redHome', 'greeHome'].indexOf( position);
            return item > -1
    },


    updatePlayer(face){
        
        this.currentPlayer = this.player1
        this.yellowHome = this.player1.homePieaces
        this.dice = face
        if(face === 5 && this.currentPlayer.homePieaces.length > 0 ){
                const startPosition = this.player1.path[0]
                this.currentPlayer.currentPositions.push(startPosition)
                const id = this.boardItems.findIndex(item => item.id === this.player1.path[0]);

                    this.boardItems[id].content.push( {color: this.currentPlayer.color})

                this.player1.homePieaces.pop()
        }else if( this.player1.homePieaces.length < 4){
            
            alert("click the piece you want to move")
            this.currentPlayer.canMove = true

        }  


    },
    clicked(position){
        if(this.pieceAtHome(position)){
            alert('cant move this piece')
            return 
        }


        if(this.currentPlayer.canMove)
          { 
            const currentBoardIndex = this.boardItems.findIndex(item => item.id === position)
            

            let currentPieaceIndex = this.currentPlayer.path.findIndex(item => item === position) ;
            let pieceNextIndex = currentPieaceIndex + this.dice      
            
            if(pieceNextIndex > this.currentPlayer.path.length){
                    alert("piece cant be moved")
                    return

            } 
            
            const positionID = this.currentPlayer.path[pieceNextIndex];
           

            const nextBoardIndex = this.boardItems.findIndex(item => item.id === positionID)


            if( nextBoardIndex > -1){
            this.boardItems[nextBoardIndex].content.push({color: this.currentPlayer.color})
            this.boardItems[currentBoardIndex].content.pop();
            this.currentPlayer.canMove =false
                    }

                }
            }
    }

}
</script>
<style>

 td {
     border: 1px solid;
     border-color: black;
     text-align: center;

 }
</style>