<template>
        <tr>
            <td v-for=" td in data" :key="td.id"  :colspan="td.colspan" :rowspan="td.rowspan" :class="td.color"  @click="clicked(td.id)"> {{findContent(td.id).label}}  

                <div class="flex justify-around" v-if="td.id === player1.color">
                    
                    <span v-for="p in  player1.homePieaces" :key="p" class="h-6 w-6  rounded-full bg-yellow-500 border">
                    
                    </span>
                    </div>
                <div class="flex justify-around" v-if="td.content !==null">
                    
                    <span v-for="(val, index ) in  findContent(td.id).content" :key="index" class="h-6 w-6  rounded-full bg-yellow-500 border">
                    
                    </span>
                    </div>
            </td>
        </tr>
</template>
<script>
export default {
name: 'Tr',
props:{
    data:{
        type: Array,
        default: () =>[]
    },
    player1:{
        type: Object,
        default:()=>{}
    },
    positions:{
            type: Array,
            default: () =>[]
    }
},

    name: 'Tr',
    data: function(){

        return {


        }
    },
computed:{
        yellowHomePieces(){

        }
},


methods:{

    clicked(id){
        this.$emit('clicked', id)
    },

    findContent(id){

        return this.positions.find(item=>item.id === id) || ""
    }
}

}
</script>
<style>
 td{
     height: 30px;
 }
</style>