<template>

  <div>
      <Tablero   />
      <hr>
    <Modal @close="closeModal" :show="showModal"/>
  </div>
</template>

<script>


export default {

  data(){
    return{
    //  boardItems: Positions, 
      result : 0,
      boardUpdate: true,
      diceRoling: false,
      showModal: true,
    }
 

  },
  computed:{
      
  },

  methods:{
  
      closeModal(){
        this.showModal = !this.showModal
        
      }

  },

}
</script>
